<p-menubar>
    <ng-template pTemplate="start">
        <img src="./assets/images/SiemensLogo.png" class="logo">
        <img src="./assets/images/MocoLogo.png" class="logo">
    </ng-template>
    <ng-template pTemplate="item">
        <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        </div>
    </ng-template>
</p-menubar>